@font-face {
    font-family: LeagueSpartan;
    src: url(fonts/league_spartan/LeagueSpartan-Medium.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: LeagueSpartan;
    src: url(fonts/league_spartan/LeagueSpartan-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: LeagueSpartan;
    color: #725142;
}

html, body {
    overflow: hidden;
}

body
{
    opacity: 0;
    transition: opacity 2s ease; 
    height: 100vh;
    background-image: radial-gradient(#dbd5c7, #d6ceba, #b2a486);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body /* Just to align the text advice for screen size*/ 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 
{
    font-size: 55px;
    line-height: 56px;
    font-weight: bold;
    display: block;
    text-align: center;
}

span.small_screen
{
    position: absolute;
    font-size: 12px;
    text-align: center;
    padding: 20px;

}

div.slide
{
    position: absolute;
    opacity: 0;
    transition: opacity 1.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

@media screen and (min-width: 1366px) and (min-height: 768px)
{
    span.small_screen
    {
        opacity: 0;
    }

    div.active
    {
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        pointer-events: auto;
    }

    .logo_tela1
    {
        position: relative;
        display: inline-block;
        width: fit-content;
        height: fit-content;
    }

    #logoeterj
    {
        max-width: 84%;
        max-height: 43%;
        object-fit: contain;
        display: block;
        margin: 0 auto;
    }

    .logo_tela1::before,
    .logo_tela1::after,
    .logo_tela1 span::before,
    .logo_tela1 span::after {
    content: "";
    position: absolute;
    background-color: #725142;
    z-index: 1;
    transition: all 0.3s ease;
    }

    /* Linha superior */
    .logo_tela1::before {
    height: 6px;
    width: 0;
    top: 0;
    left: 0;
    animation: linha-topo 0.8s forwards;
    animation-delay: 1s;
    }

    /* Linha direita */
    .logo_tela1::after {
    width: 6px;
    height: 0;
    top: 0;
    right: 0;
    animation: linha-direita 0.45s forwards;
    animation-delay: 1.85s;
    }

    /* Linha inferior */
    .logo_tela1 span::before {
    height: 6px;
    width: 0;
    bottom: 0;
    right: 0;
    animation: linha-baixo 0.45s forwards;
    animation-delay: 2.40s;
    }

    /* Linha esquerda */
    .logo_tela1 span::after {
    width: 6px;
    height: 0;
    bottom: 0;
    left: 0;
    animation: linha-esquerda 0.45s forwards;
    animation-delay: 3s;
    }

    /* Wrapper para criar pseudo-elementos extras */
    .logo_tela1 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    }

    @keyframes linha-topo {
    to { width: 100%; }
    }

    @keyframes linha-direita {
    to { height: 100%; }
    }

    @keyframes linha-baixo {
    to { width: 100%; }
    }

    @keyframes linha-esquerda {
    to { height: 100%; }
    }

    div.slide.background
    {
        background-image: url(img/background_blur.png);
        transition: opacity 1.8s ease;
        background-size: cover;
        background-position: center;
        flex-direction: column;
    }

    .background > button
    {
        margin-bottom: 8%;
        border: none;
        padding: 20px;
        width: 150px;
        font-size: 21px;
        font-weight: bold;
        background-color: #9d9177;
        border-radius: 20px;
        color: #faf7f0;
        cursor: pointer;
    }

    .gameScreen > h1
    {
        display: block;
        text-align: center;
        color: #f2e5d6;
    }

    .cutscene > video
    {
        width: 100%;
        height: 100%;
    }

    #battleCanvas
    {
        background-color: #111;
        border: 3px solid white;
    }

    #player
    {
        position: absolute;
        background-image: url(img/klleythus_pixelart.png);
        background-size: cover;
        width: 60px;
        height: 110px;
    }

    #player
    {
        bottom: 60px;
    }

    #enemy
    {
        background-image: url(img/driade_pixelart.png);
        position: absolute;
        border: 3px solid rgb(69, 92, 65);
        background-size: cover;
        width: 110px;
        height: 110px;
        top: 20px;
    }

    .projectile 
    {
        width: 10px;
        border-radius: 3px;
        height: 20px;
        background-color: rgb(69, 92, 65);
        position: absolute;
    }

}